// colors
$black: black;
$white: white;
$accent: #ca6508;
// layout
$borderRadius: 2.5rem;
$mobilePadding: 0 2rem;
$maxContainer: 160rem;
// font
$headingFont: "Montserrat", sans-serif;
$bodyFont: "Open Sans", sans-serif;
// break points
$desktop: 90rem;
$tablet: 60rem;
$mobile: 0rem;
