@use "../utils/variables" as *;

.card {
  padding: 2rem;
  border-radius: $borderRadius;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  max-width: 60rem;

  &__logo {
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px 0px $accent;
      transform: scale(1.1);
    }
  }

  &__active-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 20px 0px $accent;

    .card__active-logo {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) scale(1.5);
      bottom: 0px;
    }
  }

  &__header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__body {
    margin-bottom: 3rem;
  }

  .btn {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
